@mixin table {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin mobile {
@media screen and (max-width: 576px){ 
  @content;
  
}

}

@mixin flex ($dis , $column , $just , $aling ,){
display: $dis;
flex-direction: $column;
justify-content: $just;
align-items: $aling;
}

@mixin flexcenter ($dis , $just , $aling ,){
  display: $dis;
  justify-content: $just;
  align-items: $aling;
  }


@mixin iconbtn {
  display: block;
  border: 0;
  font-size: 1.25em;
  background-color: transparent;
  cursor: pointer;
}