.header {
  @include flexcenter(flex, center, center);
  justify-content: space-between;
  background: $navbar;
  padding: 2em;
  .logo {
    width: 150px;
  }
  .abrir-menu {
    display: none;
    @include table {
      display: block;
      border: 0;
      font-size: 1.2em;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .nav {
    .cerrar-menu {
      display: none;
      @include table {
        @include iconbtn;   
      }
    }

    .nav_items {
      display: flex;
      gap: 1em;
      @include table {
        flex-direction: column;
        align-items: end;
      }
    }
  }
}
